body{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(0, 0, 0);
    font-size: 14px;
    font-family: "Inter", sans-serif;
}
section{
    align-items: center;
    text-align: center;
    padding: 30px 0px 30px 0px;
    border: 2px solid #000000;
    border-radius: 20px;
    background-color:hsl(0, 0%, 12%)  ;
}

.img{
    position: relative;
    border-radius: 10rem ;
    width: 100px;
}

h1 {
    align-items: center;
    font-weight: 600;
    margin: 10px;
    color: aliceblue;
}

h4{
    margin: 10px;
    font-weight: 500;
    color: hsl(75, 94%, 57%);
}

p{
    color: antiquewhite;
    margin-top: 20px;
}

a button{
    color: aliceblue;
    width: 70%;
    height: 40px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 20%);
    outline: none;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    transition: all 0.4s ease;
    margin: 5px;
    border: none;
}
a button:hover{
    color: hsl(0, 0%, 0%);
    background-color: hsl(75, 94%, 57%);
}

.attribution {
    color: aliceblue;
    
}